In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN',
'londON_StockhOlm',
'Budapest_PaRis', 'Brussels_londOn'],
'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )',
'12. Air France', '"Swiss Air"']})

In [3]:
#Question 1

##Filling missing values
df.iloc[1,1] = 10055.0
df.iloc[3,1] = 10075.0

In [4]:
#converting flot to integer
df.FlightNumber = df.FlightNumber.astype(int)

In [5]:
print(df)

            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris         10045      [23, 47]               KLM(!)
1      MAdrid_miLAN         10055            []    <Air France> (12)
2  londON_StockhOlm         10065  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis         10075          [13]       12. Air France
4   Brussels_londOn         10085      [67, 32]          "Swiss Air"

In [6]:
#Question 2
#Splitting column based on delimeter

df_temp = df["From_To"].str.split("_", expand = True)

In [7]:
df_temp = df_temp.rename(columns = {0:'From', 1:'To' })

In [8]:
print(df_temp)

       From         To
0    LoNDon      paris
1    MAdrid      miLAN
2    londON  StockhOlm
3  Budapest      PaRis
4  Brussels     londOn

In [9]:
#Question 3

df_temp["From"] = df_temp["From"].str.capitalize()
df_temp["To"] = df_temp["To"].str.capitalize()

In [10]:
#Question 4
df.drop(columns = ["From_To"], inplace = True)

In [11]:
print(df)

   FlightNumber  RecentDelays              Airline
0         10045      [23, 47]               KLM(!)
1         10055            []    <Air France> (12)
2         10065  [24, 43, 87]  (British Airways. )
3         10075          [13]       12. Air France
4         10085      [67, 32]          "Swiss Air"

In [12]:
df = pd.concat([df,df_temp], axis = 1)

In [13]:
print(df)

   FlightNumber  RecentDelays              Airline      From         To
0         10045      [23, 47]               KLM(!)    London      Paris
1         10055            []    <Air France> (12)    Madrid      Milan
2         10065  [24, 43, 87]  (British Airways. )    London  Stockholm
3         10075          [13]       12. Air France  Budapest      Paris
4         10085      [67, 32]          "Swiss Air"  Brussels     London

In [14]:
#Question 5

delay_column = pd.DataFrame(df["RecentDelays"].tolist(),)

In [15]:
print(delay_column)

      0     1     2
0  23.0  47.0   NaN
1   NaN   NaN   NaN
2  24.0  43.0  87.0
3  13.0   NaN   NaN
4  67.0  32.0   NaN

In [16]:
delay_column = delay_column.rename(columns= {0:"Delay_1", 1:"Delay_2", 2:"Delay_3"})

In [17]:
df = df.drop(columns=["RecentDelays"])

In [18]:
df = pd.concat([df, delay_column], axis = 1)

In [19]:
print(df)

   FlightNumber              Airline      From         To  Delay_1  Delay_2  \
0         10045               KLM(!)    London      Paris     23.0     47.0
1         10055    <Air France> (12)    Madrid      Milan      NaN      NaN
2         10065  (British Airways. )    London  Stockholm     24.0     43.0
3         10075       12. Air France  Budapest      Paris     13.0      NaN
4         10085          "Swiss Air"  Brussels     London     67.0     32.0

   Delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN

In [20]:
#Removing extra characters from Airline column
spec_chars = ["!",'"',"#","%","&","'","(",")",
              "*","+",",","-",".","/",":",";","<",
              "=",">","?","@","[","\\","]","^","_",
              "`","{","|","}","~","â€“","1","2","3","4","5","6","7","8","9"]

for char in spec_chars:
    df["Airline"] = df["Airline"].str.replace(char, " ")

In [21]:
df['Airline'] = df['Airline'] .apply(lambda x: x.lstrip())
df['Airline'] = df['Airline'] .apply(lambda x: x.rstrip())

In [22]:
print(df)

   FlightNumber          Airline      From         To  Delay_1  Delay_2  \
0         10045              KLM    London      Paris     23.0     47.0
1         10055       Air France    Madrid      Milan      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0
3         10075       Air France  Budapest      Paris     13.0      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0

   Delay_3
0      NaN
1      NaN
2     87.0
3      NaN
4      NaN